@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    padding: 50px 0;
}

main {
    max-width: 1135px;
}

#title {
    max-width: 150px;
}

#overlay {
    opacity: 0;
}

#overlay:hover {
    opacity: 0.9;
}

.textShadow {
    text-shadow: 0 0 10px rgb(32, 32, 32);
}

.sheer-gray {
    background-color: rgba(115, 115, 115, 0.7);
}